@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";
@theme {
  --font-roboto: "Roboto", sans-serif;
}

/* dor dark mode */
@custom-variant dark (&:where(.dark, .dark *));
