@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Milonga&display=swap");

@import "tailwindcss";
@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-caveat: "Caveat", cursive;
  --font-milonga: "Milonga", serif;
}

/* dor dark mode */
@custom-variant dark (&:where(.dark, .dark *));
